body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #80808021;
}

/* -----------------------------------------------------------navbar --------------------------------------------------------------------*/

nav {
  background-color: #000000;
  color: white;
  margin: 0px;
  padding: 1px 46px;
  height: 73px;
  position: sticky;
  top: 0;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.list-items {
  list-style-type: none;
}

.toggle-bar {
  display: none;
}

/* -------------------------------sign up -------------------------------- */

.signup-box {
  padding: 13px 0;
}

.signup {
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px 25px;
  color: white;
  font-size: 19px;
  text-decoration: none;
  display: block;
}

.signup:hover {
  background-color: green;
}

/* -------------------------------sign up ends-------------------------------- */

/* ----------------------------return and order-------------------------------- */

.return {
  padding: 12px;
  margin: 4px;
  text-decoration: none;
  color: white;
  display: block;
  font-size: 19px;
}

.return:hover {
  padding: 11px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: green;
}

/* ----------------------------return and order ends-------------------------------- */

/* -----------------------------------search box section-------------------------------- */

.serachbar {
  display: flex;
  padding: 15px;
}

.serachbar input {
  width: 40vw;
  padding: 10px;
  border: none;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  height: 26px;
  border-radius: 5px 0 0 5px;
}

.searchbox {
  background-color: green;
  border: none;
  border-radius: 0 5px 5px 0;
  width: 3vw;
  cursor: pointer;
}

.searchbox:hover {
  background-color: greenyellow;
}
.searchicon {
  width: 24px;
  padding: 8px 0;
}

/* -----------------------------------search box section ends-------------------------------- */

/* -----------------logo container----------------- */

.icon-container {
  cursor: pointer;
  margin: 4px;
  height: 63px;
}

.icon-container a {
  text-decoration: none;
  display: flex;
  color: white;
}

.logo {
  width: 50px;
  padding: 14px 0 14px 14px;
}

.site-name {
  font-size: 29px;
  padding: 18px 14px 14px 0;
}
/* -----------------logo container ends----------------- */

/* -----------------------------------------------------------navbar ends------------------------------------------------------------------------------ */

/* ------------------new section---------------------- */

.section {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  border-bottom: solid 1px gray;
  box-shadow: 6px 0.1px 10px gray;
  background-color: white;
}

.options a img {
  padding: 0 25px;
  width: 77px;
}

.options a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.options a:hover {
  color: green;
}

.options a span {
  display: inline-block;
  text-align: center;
}
/* ------------------new section---------------------- */

/* ----------------------------------cards------------------------ */

/* -----------------conatiner--------------------- */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 35px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  background-color: white;
  box-shadow: 6px 0.1px 10px gray;
}

.card img {
  width: 140px;
  padding: 20px;
}

/* -----------------conatiner--------------------- */

.cover {
  border-right: 1px solid gray;
}
.c1 {
  background: linear-gradient(to right, #ff2f2f, green);
}
.c2 {
  background: linear-gradient(to right, cyan, blue);
}
.c3 {
  background: linear-gradient(to right, #f1ffc0, red);
}
.c4 {
  background: linear-gradient(to right, #8000ff, orange);
}
.c5 {
  background: linear-gradient(to right, #00ffa5, #004dff)
}
.c6 {
  background: linear-gradient(to right, #5cff00, #ffcb00);
}
.c7 {
  background: linear-gradient(to right, #ffa700, #00e7ff);
}
.c8 {
  background: linear-gradient(to right, #0800ff, #00ff34)
}
.c9 {
  background: linear-gradient(to right, #af00ff, #00ffb7);
}

.card span {
  display: block;
  text-align: center;
  padding: 4px 0;
}

.card a {
  text-decoration: none;
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px 0;
  height: 305px;
}

.discount {
  color: green;
}

.explore-now {
  color: gray;
}
.product {
  height: 160px;
}

.cover-txt {
  font-size: 25px;
  color: white;
  width: 135px;
  margin: 74px auto 0 auto;
}

.cover button {
  background-color: rgb(0, 0, 0);
  border: 1px solid gray;
  width: 119px;
  border-radius: 4px;
  color: white;
  padding: 13px;
  font-size: 15px;
  margin: auto;
}

.cover a {
  text-decoration: none;
  color: black;
  display: grid;
  grid-template-rows: repeat(auto-fit, 150px);
  gap: 0;
  height: 305px;
}

.spl-photo {
  height: 165px;
}

/* --------------------------------------------cards-------------------------------------- */

/* ------------------------------------------------------footer----------------------------------------------------- */

footer {
  background-color: black;
  height: 100px;
  margin-top: 35px;
  box-shadow: 6px 0.1px 10px gray;
}
