body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* -----------------------------------------------------------navbar --------------------------------------------------------------------*/

nav {
  background-color: #000000;
  color: white;
  margin: 0px;
  padding: 1px 46px;
  height: 73px;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.list-items {
  list-style-type: none;
}

/* -------------------------------sign up -------------------------------- */

.signup-box{
  padding: 13px 0;
}

.signup {
  border: 2px solid white;
  border-radius: 5px;
  padding: 14px 25px;
  color: white;
  text-decoration: none;
  display: block;
}

.signup:hover{
  background-color: green;
}

/* -------------------------------sign up ends-------------------------------- */

/* ----------------------------return and order-------------------------------- */

.return {
  padding: 12px;
  margin: 4px;
  text-decoration: none;
  color: white;
  display: block;
}

.return:hover{
  border: 1px solid white;
  border-radius: 3px;
  text-decoration: none;
}

/* ----------------------------return and order ends-------------------------------- */

/* -----------------------------------search box section-------------------------------- */

.serachbar {
  display: flex;
  padding: 15px;
}

.serachbar input {
  width: 40vw;
  padding: 10px;
  border: none;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  height: 26px;
}

.searchbox {
  background-color: green;
  border: none;
  border-radius: 0 6px 6px 0;
  width: 3vw;
  cursor: pointer;
}

.searchbox:hover{
  background-color: greenyellow;
}

#select {
  border: none;
  border-radius: 6px 0 0 6px;
  width: 3vw;
  text-align: center;
  cursor: pointer;
}

.searchicon {
  width: 24px;
  padding: 8px 0;
}

/* -----------------------------------search box section ends-------------------------------- */

/* -----------------logo container----------------- */

.icon-container{
  cursor: pointer;
  display: flex;
  margin: 4px;
height: 63px;
padding-right: 10px;
}

.icon-container:hover{
  border: 1px solid white;
  border-radius: 3px;
}

.logo{
  width: 50px;
  padding: 14px 0 14px 14px;
}

.site-name {
  font-size: 29px;
  padding: 14px 0;
  
}
/* -----------------logo container ends----------------- */

/* -----------------------------------------------------------navbar ends------------------------------------------------------------------------------ */


/* ------------------new section---------------------- */

.section{
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  border-bottom: solid 1px gray;
}

.options a img{
  padding: 0 25px;
  width: 77px;
}

.options a{
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.options a{
  color: green;
}

.options a span{
  display: inline-block;
  text-align: center;
}
